.DS_Store
node_modules
/coverage
/dist

/tests/e2e/reports/
selenium-debug.log
chromedriver.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# ignore default project and localy tests
db.json
.env*
!.env.example
old-ui
public/models copy/
public/models/
.devcontainer/devcontainer.json
