# Configurações da Aplicação
VUE_APP_TITLE=Pluggable Dashboard
VUE_APP_API_URL=http://localhost:8080/api

# Configurações de Ambiente
VUE_APP_ENV=development

# Configurações de Banco de Dados/Projetos
VUE_APP_DATABASE=/models/projects.json

# Configurações de Login (opcional)
VUE_APP_LOGIN=false
VUE_APP_LOGIN_URL=https://project.com/auth/login
VUE_APP_LOGIN_USER_FIELD=email
VUE_APP_LOGIN_PASS_FIELD=password
VUE_APP_LOGIN_TOKEN_PATH=token
VUE_APP_LOGIN_TOKEN_HEADER=access-token
VUE_APP_LOGGED_URL=https://project.com/auth/logged
